<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Front Page</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>
                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>password hash</strong>: <%= user.password %>
                </p>

            </div>
        </div>

        <div class="col-sm-6" style="text-align: center">
            <div class="well">
                <form action="/addblog" method="post" id="blog-form">
                    Blog Title:<br>
                    <input type="text" name="title" value="title"><br>
                    Blog Body:<br>
                    <input type="text" name="body" value="body"><br><br>
                    <input type="submit" value="Add New Blog">
                </form>
            </div>
        </div>

    </div>

    <div class="row">
        <% for(var i = 0; i < blogs.length; ++i) { %>
        <div class="col-sm-6">
            <div class="well">
                <h3>Blog title:<%= blogs[i].title %></h3>

                <p>
                    <strong>Author: <%= blogs[i].author %></strong><br>
                    <strong>Text: <%= blogs[i].text %></strong><br>
                </p>

                <form action="/editblog/<%= blogs[i]._id %>" method="post" id="blog-form">
                    Modify Blog Text:<br>
                    <input type="text" name="body" value="<%= blogs[i].text %>"<br><br>
                    <input type="submit" value="Modify Blog">
                </form>

                <form action="/delete/<%= blogs[i]._id %>" method="post" id="blog-delete">
                    Delete This Blog<br>
                    <input type="submit" value="Delete Blog">
                </form>

            </div>
        </div>
        <% } %>
    </div>

</div>
</body>
</html>